.header{
    background-color: darkgreen;
    padding: 20px 10px;
  }
  .header a {
    float: left;
    color: yellow;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  .header a:hover {
    background-color: #f2f2f2;
    color: black;
  }
  
  .header a.logo{
    font-size: 30px;
    font-weight: bold;
  }
  h1{
    text-align: center; 
    color: yellow;
  }
.code{
    float: left;
    padding: 30px;
    background-color: greenyellow;
    width: 95%;
}

.code .line{
    margin-bottom: 20px;
    /* margin-left: 20px; */
    background-color: #ADFF2F;
}

#ct1{    
    position: relative;
    width: 100%;
    /* min-height: 100vh;   */
    height: 100%;
    float: left;
    background-color: whitesmoke;
    padding: 30px;
    margin-bottom: 25px;
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 100px;
    /* width: 25%; */
}

#ct2{
    position: relative;
    width: 100%;
    /* min-height: 100vh; */
    float: right;
    background-color: #DCDCDC;
    padding: 20px;
    /* width: 75%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

#ct3{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    /* background-color: brown; */
    width: 100%;
}

.code .line l1{
    margin-top: 20px;
}

.code .line l9{
    margin-bottom: 20px;
}

#row{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    border: 2px #e07c09;
    margin-top: 10px;
    font-size: 20px;
    background-color:#f7890a;
    width: 100%;
}

#row div{
    border: 2px aliceblue solid;
    margin: 5px;
    text-align: center;
}

#rowm{
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    border: 2px #e07c09;
    margin-top: 10px;
    font-size: 20px;
    background-color:#f7890a;
    width: 100%;
}

#rowm div{
    border: 2px aliceblue solid;
    margin: 5px;
    text-align: center;
}

pre{
    border:1px rgb(37, 54, 12) solid; 
    margin: 10px;
    background-color:greenyellow; 
    width: 100%; 
    font-size: medium; 
    font-weight: bolder; 
}

button{
    margin:20px;
    color: white;
}
 
.col-sm-7{
    padding-left: 10px;
    padding-right: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.col-sm-12{
    margin-left: 125px; 
}

#floatingTextarea2 {
    height: 150px;
    width: 100%; 
    border: 3px rebeccapurple solid; 
    padding: 20px; 
    margin-top: 20px;
    margin-right: 20px;
    font-weight: bolder;
    font-size: large;
    color: purple;   
}
