.header{
  background-color: darkgreen;
  padding: 20px 10px;
}
.header a {
  float: left;
  color: yellow;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
.header a:hover {
  background-color: #f2f2f2;
  color: black;
}

.header a.logo{
  font-size: 30px;
  font-weight: bold;
}
h1{
  text-align: center; 
  color: yellow;
}
.ct{
  width: 100%;
}
.ques{
    background-color:#DDEEDD;
    margin: 0%;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.pycode{
  float: left;
  padding: 30px;
  background-color: #DDEEDD;
  width: 45%;
  font-size: large;
}
#l1,#l2,#l3,#l4,#l5,#l6,#l7,#l8,#l9,#l10,#l11,#l12,#l13,#l14,#l15{
  background-color: #DDEEDD;
}
#floatingTextarea, #floatingTextarea2{
width: 90%; 
border: 3px rebeccapurple solid; 
height: 150px;
margin: 40px; 
font-weight: bolder;
font-size: large;
 color: purple;
}
.box-table{
    width: 60%;
    margin: 5px;
    text-align: center;
}
pre
{
  border:1px rgb(37, 54, 12) solid; 
  margin: 10px;
  background-color:bisque; 
  width: 100%; 
  font-size: medium; 
  font-weight: bolder; 
}
button
{
  margin-top:30px;
   color: white;
}
#floatingText
{
  height: 40px; 
  width: 100%; 
  border: 3px chocolate solid; 
   font-weight: bolder;
   font-size:large; 
   color:saddlebrown;
    padding: 0%;
     margin-top: 30px;
      margin-left: 0px; 
      text-align: center;
}
