@charset "utf-8";


body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	/*background: #666666; */
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: whitesmoke;
	background-color: black;
}




.VisualizationMainPage #mainContent {
	/*padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	background: #FFFFFF;
}



.VisualizationMainPage #container {


	background: #FFFFFF;
	/*margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
}


.VisualizationMainPage #algoControlSection
{
	
	color:#ffff66; 

}
button{
	background-color: #3bd16f;
}

.VisualizationMainPage #generalAnimationControlSection
{
	margin-top: 55px;
	color:#ffff66; 

}

.header{
	background-color: white;
	padding: 20px 10px;
  }
  
  .header a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px; 
	line-height: 25px;
	border-radius: 4px;
	opacity: 1;
	transition: 0.3s;
  }
  
  .header a:hover {
	background-color: #CBEABA;
	/*background-color: #3bd16f;*/
	color: black;
	font-size: 20px;
	opacity: 0.5;
  }
  
  .header a.logo{
	font-size: 30px;
	/*font-weight: bold;*/
  }
  
  h1{
	text-align: center; 
	color: black;
  }
.VisualizationMainPage #container {
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
}	
	
	
.VisualizationMainPage #footer  A:visited { text-decoration:none;
        color:ffcc33; 
}

.VisualizationMainPage #footer A:link {
    text-decoration:none;
	color:#ffCC33;
}

button{
	margin-top: 10px;
}
	

.VisualizationMainPage #mainContent h1{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
}

.VisualizationMainPage #mainContent h2{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
}

.VisualizationMainPage #mainContent h3{
	padding: 0 20px; 
	background: #FFFFFF;
	color:#006633
}
input
{
	margin: 8px;
}
#speed{
	margin-left: 80px;
	margin: 0;
	padding: 0;
}
#floatingTextarea
      {
		  
        border: 3px chocolate solid; 
         font-weight: bolder;
         
      }

table{
	margin-left: 0px;
	padding: 0px;

}
td{
	
	padding: 2px;
	font-size: small;

}
.bg{
	margin: 0;
	padding: 0;
}
.bg button{
	margin: 15px;
}
.bg canvas{
	background-color: whitesmoke;
	margin: 20px;
}
.VisualizationMainPage #mainContent .head{
	
	background-color: black;
}

.VisualizationMainPage #mainContent .bg{
	display: flex;
	background-color: black;
}
.VisualizationMainPage #mainContent .bg .code{
	margin-top: 20px;
	margin-left: 40px;
	margin-bottom: 20px;
	background-color: #CBEABA;
	height: 800px;
	color: black;
	width: 400px;
}
.VisualizationMainPage #mainContent .bg .code .line{
	margin: 7px;
}
.VisualizationMainPage #mainContent .bg .readme{
	margin-top: 20px;
	margin-right: 5px;
	margin-bottom: 20px;
	width: 300px;
	margin-left: 20px;
}
#canvas {
	width: 700px;
}
EM {text-decoration: bold;}

