{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fractional Knapsack</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel = "stylesheet" href= "{% static 'css/greedy_algo/job.css' %}">
    </head>
    <body>
        <div class="header">
            <a href="/" class="logo">Code Visualizer</a>
            <h1>Fractional Knapsack Problem: Greedy Approach</h1>
        </div>
        <div class="ct">
            <div class="ques">
                <b>Problem Description:</b><br>Given weights and values of n items, we need to put these items in a knapsack of capacity W to get the maximum total value in the knapsack. <br><i>Knapsack Capacity: 60</i>
                    <br><b>NOTE:  we can break items for maximizing the total value of knapsack. </b>
                    <table class="table table-striped" style="text-align: center;">
                        <thead>
                            <tr class="bg-dark" style="color: aliceblue;">
                            <th>Value</th>
                            <th>Weight</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>280</td>
                            <td>40</td>
                          </tr>
                          <tr>
                            <td>100</td>
                            <td>10</td>
                          </tr>
                          <tr>
                            <td>120</td>
                            <td>20</td>
                          </tr>
                          <tr>
                            <td>120</td>
                            <td>24</td>
                          </tr>
                        </tbody>
                    </table>
            </div>
        </div>
        <div class="container" style="margin-top: 20px;">
            <form>
                <div class="form-group">
                    <textarea class="form-control"  id="floatingTextarea2" >Job Sequencing....</textarea>
                </div>
            </form>  
            <div class="row">
                <div class="col-sm-6 pycode">
                    //Pseudo code for Fractional Knapsack Problem
                    <br>class FractionalKnapSack:
                    <div id="l1">def getMaxValue(wt, val, capacity):</div>
                    <div id="l2">&nbsp;&nbsp;iVal.sort(reverse=True)</div> 
                    <div id="l3">&nbsp;&nbsp;totalValue = 0</div> 
                    <div id="l4">&nbsp;&nbsp;for i in iVal:</div> 
                    <div id="l5">&nbsp;&nbsp;&nbsp;curWt = int(i.wt)</div> 
                    <div id="l6">&nbsp;&nbsp;&nbsp;curVal = int(i.val)</div> 
                    <div id="l7">&nbsp;&nbsp;&nbsp;if capacity - curWt >= 0:</div> 
                    <div id="l8">&nbsp;&nbsp;&nbsp;&nbsp;capacity -= curWt</div> 
                    <div id="l9">&nbsp;&nbsp;&nbsp;&nbsp;totalValue += curVal</div> 
                    <div id="l10">&nbsp;&nbsp;&nbsp;else:</div> 
                    <div id="l11">&nbsp;&nbsp;&nbsp;&nbsp;fraction = capacity / curWt</div> 
                    <div id="l12">&nbsp;&nbsp;&nbsp;&nbsp;totalValue += curVal * fraction</div> 
                    <div id="l13">&nbsp;&nbsp;&nbsp;&nbsp;capacity = int(capacity - (curWt * fraction))</div> 
                    <div id="l14">&nbsp;&nbsp;&nbsp;&nbsp;break</div> 
                    <div id="l15">&nbsp;&nbsp;return totalValue</div> 
                </div>
                <div class="col-sm-6" style="margin: 5px;">
                    <h2>Value:</h2>
                    <div class="row g1 my-flex-box"></div>
                    <h2>Weight:</h2>
                    <div class="row g2 my-flex-box"></div>
                    <h2>Ratio (value/weight):</h2>
                    <div class="row g3 my-flex-box"></div>
                    <h2>Final ans:</h2>
                    <div class="row g4 my-flex-box"></div>
                </div>
            </div>
        </div>
        <div class="container" style="width: 15%; ">
            <div class="row"  >
        
             <div class="col-sm"><button type="button" onclick="addSp()" class="btn btn-danger" id="add" >+1x</button></div>
             <div class="col-sm"><textarea class="form-control"  id="floatingTextarea" > 2x</textarea>
             </div>
             <div class="col-sm"><button type="button" onclick="subSp()" class="btn btn-danger" id="sub" >-1x</button></div>
            </div>
            <div class="row">
              <div class="col-sm-12"><textarea readonly class="form-control"  id="floatingTextarea" > Speedometer</textarea>
              </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="{% static 'js/greedy_algo/fknapsack.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</html>