.header{
  background-color: darkgreen;
  padding: 20px 10px;
}
.header a {
  float: left;
  color: yellow;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}
.header a:hover {
  background-color: #f2f2f2;
  color: black;
}

.header a.logo{
  font-size: 30px;
  font-weight: bold;
}
h1{
  text-align: center; 
  color: black;
}
      #row
      {
        display: flex;
        flex-flow: row wrap;
        height: 90px;
        border: 2px black solid;
        margin-top: 20px;
        font-size: 35px; 
        background-color: green;
      }

      #mainStr div
      {
         border: 2px aliceblue solid;
         margin: 1%;
        padding: 2%;
        /*font-size: larger;*/
      }
      #mainStr
      {
        
        margin-top: 10%;
        display: flex;
        flex-flow: row wrap;
        height: auto;
        /*border: 2px black solid;*/
       
        padding: 1%;
        font-size: 20px; 
        font-weight: bold;
        background-color: rgb(243, 149, 41);

      }
      /*.code
      {
        padding: 5%;
        border:1px rgb(37, 54, 12) solid; 
        margin: 10px; background-color:greenyellow; 
        width: 100%; 
        font-size: medium; 
      }*/
      .code{
          /*float: left;*/
          padding: 30px;
          background-color: greenyellow;
          width: 75%;
      }

      .code .line{
          margin-bottom: 20px;
          background-color: #ADFF2F;
      }
      button{
        margin:20px;
        color: white;
      }
     
      #floatingTextarea
      {
        height: 40px; 
        width: 100%; 
        border: 3px chocolate solid; 
         font-weight: bolder;
         font-size:large; 
         color:saddlebrown;
          padding: 0%;
           margin-top: 30px;
            margin-left: 0px; 
            text-align: center;
      }
      #floatingTextarea2 {
    height: 125px;
    width: 100%; 
    border: 3px rebeccapurple solid; 
    font-weight: bolder;
    font-size: large;
    color: purple;   
}

#ct1{    
    /*position: relative;*/
    width: 100%;
    height: 100%;
    /*float: left;
    background-color: whitesmoke;*/
    padding: 30px;
    /*margin-bottom: 25px;
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 100px;*/
}

#ct2{
    /*position: relative;
    width: 120%;*/
    float: right;
    background-color: #DCDCDC;
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#ct3{
    margin-top: 25px;
    width: 100%;
}

.col-sm-7{
    padding-left: 10px;
    padding-right: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}