#ct1{
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    background-color: whitesmoke;
    padding: 30px;
    margin-bottom: 25px;
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 100px;
}

#floatingTextarea{
  height: 70px;
  border: 1px  solid black; 
  font-weight: bolder;
  font-size: large;
  color: purple;
}

#ct4{
    background-color: pink;
    padding: 30px;
    margin: 50px;
    width: 100%;
    /*border: 5px solid black;  */ 
}

#ct5{ 
   /*display: flex;
    flex-flow: row wrap;
    height: 90px;
    border: 2px #e07c09;
    font-size: 20px; */
    background-color:#f7890a;
    width: 100%; 
}

#ct5 div{
  border: 2px aliceblue solid;
    margin: 8px;
    background: #ffc107;
    text-align: center;
}

#row{
    display: flex;
    flex-flow: row wrap;
    height: 90px;
    border: 2px #e07c09;
    font-size: 35px; 
    background-color:blue;
    width: 100%;
}

#ct2{
    position: relative;
    width: 120%;
    float: right;
    background-color: #DCDCDC;
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#ct3{
    
    background-color: brown; 
    margin-top: 25px;
    width: 100%;
    
}

.code{
    padding: 30px;
    background-color: greenyellow;
    width: 80%;
    height: 400px;
}

.code .line{
    margin-bottom: 20px;
    /* margin-left: 20px; */
    background-color: #ADFF2F;
}

/*#floatingTextarea2{
height: 100px;
 width: 80%; 
border: 3px rebeccapurple solid; 
margin: 40px; 
font-weight: bolder;
font-size: large;
 color: purple;
}*/

#floatingTextarea2 {
    margin: 40px; 
    margin-left: 0px;
    height: 125px;
    width: 100%; 
    border: 3px rebeccapurple solid; 
    font-weight: bolder;
    font-size: large;
    color: purple;   
}

.my-flex-box{
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  margin-top: 20px;
  font-size: 20px; 
  background-color:#f7890a;
}

.my-flex-box div{
   border: 2px aliceblue solid;
   background: #ffc107;
   margin: 8px;
   text-align: center;
}

.header{
    background-color: darkgreen;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.header a:hover {
    background-color: #f2f2f2;
    color: black;
}
  
.header a.logo{
    font-size: 30px;
    font-weight: bold;
}

h1{
    text-align: center;
    color: yellow;
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 3px;
    background-color:darkgreen;
    color: white;
}

footer p{
    font-weight: bold;
    padding-left: 20px;;
}

.ct{
    width: 100%;
}

.col-sm-7{
    padding-left: 10px;
    padding-right: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.ques{
    background-color:#DDEEDD;
    margin: 0%;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}