.ct{
  width: 100%;
}



footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 3px;
  background-color:darkgreen;
  color: white;
}

footer p{
  font-weight: bold;
  padding-left: 20px;;
}
.code{
  /*float: left;*/
  padding: 30px;
  background-color: #CBEABA;
  width: 100%;
  height: 100%;
}

.code .line{
  margin-bottom: 20px;
  background-color: #CBEABA;
}

#ct1{    
  /*position: relative;*/
  width: 100%;
  height: 100%;
  /*float: left;
  background-color: whitesmoke;*/
  padding: 30px;
  /*margin-bottom: 25px;
  margin-top: 50px;
  margin-right: 150px;
  margin-left: 100px;*/
}

#ct2{
  /*position: relative;
  width: 120%;*/
  float: right;
  background-color: #DCDCDC;
  padding: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#ct3{
  margin-top: 0px;
  width: 100%;
}



.code .line l1{
  margin-top: 20px;
}

.code .line l9{
  margin-bottom: 20px;
}

/*#row{
  display: flex;
  flex-flow: row wrap;
  height: 90px;
  border: 2px #e07c09;
  font-size: 35px; 
  background-color:#f7890a;
  width: 100%;
}*/
#row
{
  display: flex;
  flex-flow: row wrap;
  height: 90px;
  border: 2px black solid;
  margin-top: 20px;
  font-size: 35px; 
  background-color: green;
}

 #mainStr div
{
    border: 2px aliceblue solid;
    margin: 1%;
  padding: 2%;
  /*font-size: larger;*/
}
#mainStr
{
  
  margin-top: 2%;
  display: flex;
  flex-flow: row wrap;
  height: auto;
  /*border: 2px black solid;*/
  
  padding: 1%;
  font-size: 20px; 
  font-weight: bold;
  background-color: rgb(243, 149, 41);

}

#header{
  background-color: white;
  padding: 20px 10px;
}

#header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  opacity: 1;
  transition: 0.3s;
}

#header a:hover {
  background-color: #CBEABA;
  color: black;
  font-size: 20px;
  opacity: 0.5;
}

#header a.logo{
  font-size: 30px;
  /*font-weight: bold;*/
}

h1{
  text-align: center; 
  color: black;
}

table{
  margin-left: 40px;
  padding: 5px;

}
#start{
  text-align: center;
}
#animation{
  align-items:  center;
}


.col-sm-7{
  padding-left: 10px;
  padding-right: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

pre{
  border:1px rgb(37, 54, 12) solid; 
  margin: 10px;
  background-color:greenyellow; 
  width: 100%; 
  font-size: medium; 
  font-weight: bolder; 
}

button
{
  margin:20px;
  color: white;
}

#floatingTextarea {
  height: 40px; 
  width: 50%; 
  border: 3px chocolate solid; 
  font-weight: bolder;
  font-size:large; 
  color:saddlebrown;
  padding-right: 20px ;
  text-align: center;
  margin:30px;
}
th,tr{
  padding: 0;
}

.col-sm-7{
  padding-left: 10px;
  padding-right: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
.codez{
  height : 200px;
  width : 50%;
  background-color: blue;
}
.col-sm-12{
  margin-left: 125px; 
}

#floatingTextarea2 {
    height: 180px;
    width: 100%; 
    border: 3px rebeccapurple solid; 
    font-weight: bolder;
    font-size: large;
    color: purple;   
}

#currentelementrow 
    {
        height: 50px;
        width: 80px;
        border: 2px black solid;
        margin: 20px;
        margin-left: 240px;
        font-size: 25px;
        color: black;
        background-color: #ffc107;
        
        
    }
    #currentelementtext 
    {
        height: 50px;
        padding: 0;
        margin-left: 200px;

        
        font-size: 25px;
        color: black;
       
        
    }
